*{
    box-sizing: border-box;
}

.block{
    display: flex;
    flex-wrap: wrap;
}

.block .block-item{
    width: 25%;
    height: 150px;
    background-color: gray;
    border: 1px solid black;
}


@media only screen and (max-width: 768px) 
{
    .block-item{
        width: 100% !important;
    }
}

@media only screen  and (min-width:768px){
    .block-item{
        width: 50% !important;
    }
}

@media only screen  and (min-width:992px){
    .block-item{
        width: 25% !important;
    }
}